{% extends "base.html" %}

{% block title %}Firework {{ fw_id }} Details{% endblock %}

{% block content %}

<center>
  <span class="{{fw.state}} label">
    {{ fw.state }}
  </span>
</center>

<h4 class="text-center">Firework {{ fw_id }} : {{fw.name}} </h4>

<center>created on {{ fw.created_on|datetime }}</center>

<div class="pull-down"></center><pre>{{ fw_data }}</pre></div>

<!--added for displaying structure in JSmol plugin-->
<!--the location of this file on tesla: /home/g5q/Codes/FW_env/local/lib/python2.7/site-packages/fireworks/flask_site/templates/ -->
<!--use the fw_structure data in a hidden div, for the convenience of pushing structure data into jsmol-->
<div id="struc" style="display: none;"></center><pre>{{ fw_structure }}</pre></div>
<!--js files for using JSmol, should be uploaded in tesla on /home/g5q/Codes/FW_env/local/lib/python2.7/site-packages/fireworks/flask_site/static/ -->
<script src="{{ url_for('static', filename='JSmoljQuery.js') }}"></script>
<script src="{{ url_for('static', filename='JSmolCore.js') }}"></script>
<script src="{{ url_for('static', filename='JSmolApplet.js') }}"></script>
<script src="{{ url_for('static', filename='JSmolApi.js') }}"></script>
<script src="{{ url_for('static', filename='j2sjmol.js') }}"></script>
<script src="{{ url_for('static', filename='JSmol.js') }}"></script>
<!--script to initilize the JSmol control-->
<script type="text/javascript">
Jmol.debugCode = true
var myJmol1
var myInfo1 = {
height: '100%',
width: '100%',
use: 'HTML5',
j2sPath: "{{ url_for('static', filename='jsmol/j2s') }}",
console: "myJmol1_infodiv",
script: "set antialiasDisplay",
disableInitialConsole: true,
disableInitialConsole: true,
debug: true
};
</script>
<!--the div container to display JSmol control, and the script to load structure data from the struc div into JSmol control-->
<div style="width:450px;height:450px" >
<script type="text/javascript">
myJmol1 = Jmol.getApplet("myJmol1", myInfo1);
Jmol.script(myJmol1, 'load DATA "inline"\n' + document.getElementById("struc").innerHTML + '\nEND "inline";' );
Jmol.script(myJmol1, 'select *;cartoons off;spacefill only;unitcell off; axes off;set frank off');
</script>
</div>
<!--__author__ = "Ram Balachandran, Lin Lianshan, Ganesh Panchapakesan"-->
{% endblock %}